<button type="button" class="btn btn-primary" (click)="getUsers()">Primary</button>
<!-- Button trigger modal -->
<button type="button" class="btn btn-md btn-outline-primary" data-toggle="modal" data-target="#exampleModalCenter"><i clas="fa fa-user"></i>
Ajout User</button>
<!--Table -->
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col"> Prénom</th>
      <th scope="col">E-mail</th>
      <th scope="col">Titre du poste</th>
      <th scope="col">Num Tel</th>
      <th scope="col">DateEmbauche</th>
      <th scope="col">Priorité</th>
      <th scope="col"colspan="2"  style="text-align: center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of ListUsers">
      <th scope="row">{{user.id}}</th>
      <td>{{user.nom}}</td>
      <td>{{user.prenom}}</td>
      <td>{{user.email}}</td>
      <td>{{user.titre_poste}}</td>
      <td>{{user.num_tel}}</td>
      <td>{{user.dateEmbauche}}</td>
      <td>{{user.priorite}}</td>
      <td><button type="button" class="btn btn-outline-danger" (click)="deleteUser(user.id)">Delete</button></td>
      <td><button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#modifyUser" (click)="openModel(user)">Update</button></td>
    </tr>
  </tbody>
</table>
<!-- Model ajout user -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add User</h5>
        <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formulaire" (ngSubmit)="check()">
          <div class="form-group">
            <label for="exampleInputName">Name</label>
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="NameHelp" placeholder="Enter your name please" formControlName="name">
          </div>
          <div class="form-group">
            <label for="exampleInputLastName">Last Name</label>
            <input type="text" class="form-control" id="exampleInputLastName" placeholder="Enter your last name please" formControlName="lastname">
          </div>
          <div class="form-group">
            <label for="exampleInputJobTitle">Job title</label>
            <input type="text" class="form-control" id="exampleInputJobTitle" placeholder="Enter your job title please" formControlName="jobtitle">
          </div>
          <div class="form-group">
            <label for="exampleInputPhoneNumber">Phone Number</label>
            <input type="text" class="form-control" id="exampleInputPhoneNumber" placeholder="Enter your Phone Number please" formControlName="PhoneNumber">
          </div>
          <div class="form-group">
            <label for="exampleInputHiringDate">Hiring Date</label>
            <input type="date" class="form-control" id="exampleInputHiringDate" placeholder="Enter your hiring date please" formControlName="hiringdate">
          </div>
          <div class="form-group">
            <label for="exampleInputPriority">Priority</label>
            <input type="text" class="form-control" id="exampleInputPriority" placeholder="Enter your priority please" formControlName="Priority">
          </div>
          <div class="form-group">
            <label for="exampleInputemail">email</label>
            <input type="email" class="form-control" formControlName="email" id="exampleInputemail" placeholder="Enter your email please" >
          </div>
          <h3>Entrez les coordonnées de votre voiture</h3>
          <div class="form-group">
            <label for="exampleInputMatricule">Matricule</label>
            <input type="text" class="form-control" formControlName="Matricule" id="exampleInputMatricule" placeholder="Enter your matricule please" >
          </div>
          <div class="form-group">
            <label for="exampleInputType">Type</label>
            <input type="text" class="form-control" formControlName="Type" id="exampleInputType" placeholder="Enter your type please" >
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
    </div>
  </div>
</div>
<!-- Model modify user -->
<div class="modal fade" id="modifyUser" tabindex="-1" role="dialog" aria-labelledby="modifyUser" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">modify User</h5>
        <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  #f="ngForm" (ngSubmit)="modifyUsers(f)">
          <div class="form-group">
            <label for="exampleInputName">Name</label>
            <input type="text" class="form-control" id="exampleInputName"  placeholder="Enter your name please" [(ngModel)]="userModify.nom" name="nom" >
          </div>
          <div class="form-group">
            <label for="exampleInputLastName">Last Name</label>
            <input type="text" class="form-control" id="exampleInputLastName" placeholder="Enter your last name please" name="prenom" [(ngModel)]="userModify.prenom">
          </div>
          <div class="form-group">
            <label for="exampleInputJobTitle">Job title</label>
            <input type="text" class="form-control" id="exampleInputJobTitle" placeholder="Enter your job title please" name="titre_poste" [(ngModel)]="userModify.titre_poste">
          </div>
          <div class="form-group">
            <label for="exampleInputPhoneNumber">Phone Number</label>
            <input type="text" class="form-control" id="exampleInputPhoneNumber" placeholder="Enter your Phone Number please" name="num_tel" [(ngModel)]="userModify.num_tel" >
          </div>
          <div class="form-group">
            <label for="exampleInputHiringDate">Hiring Date</label>
            <input type="date" class="form-control" id="exampleInputHiringDate" placeholder="Enter your hiring date please" name="dateEmbauche" [(ngModel)]="userModify.dateEmbauche">
          </div>
          <div class="form-group">
            <label for="exampleInputPriority">Priority</label>
            <input type="text" class="form-control" id="exampleInputPriority" placeholder="Enter your priority please" name="priorite"  [(ngModel)]="userModify.priorite" >
          </div>
          <div class="form-group">
            <label for="exampleInputemail">email</label>
            <input type="email" class="form-control"  id="exampleInputemail" placeholder="Enter your email please" name="email" [(ngModel)]="userModify.email">
          </div>
          <h3>Entrez les coordonnées de votre voiture</h3>
          <div class="form-group">
            <label for="exampleInputMatricule">Matricule</label>
            <input type="text" class="form-control"  id="exampleInputMatricule" placeholder="Enter your matricule please"  name="matricule" [(ngModel)]="userModify.voitures.matricule" >
          </div>
          <div class="form-group">
            <label for="exampleInputType">Type</label>
            <input type="text" class="form-control"  id="exampleInputType" placeholder="Enter your type please" name="type" [(ngModel)]="userModify.voitures.type">
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" >Save changes</button>
      </div>
    </form>
  </div>
    </div>
  </div>
</div>
<button class="btn btn-outline-danger"  (click)="addVoiture()">Add Voiture</button>

